#headBanner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 15%;
  background-color: green;
  z-index: 1;
}
#admin {
  position: fixed;
  top: 15%;
  left: 0;
  height: 70%;
  width: 20%;
  background-color: yellow;
  z-index: 0;
  align-content: center;
}

#admin p {
  font-family: "Arial";
  font-size: 20px;
  margin-left: 20px;
  margin-top: 0;
}

#inpName,
#inpAge,
#inpGender,
#inpJob,
#inpImg,
#inpDesc {
  height: 20px;
  width: 200px;
  margin: 7px;
  border-radius: 10px;
  border: 5px double black;
  padding-left: 5px;
}

#submit {
  margin: 7px;
  margin-left: 125px;
  width: 100px;
  border-radius: 10px;
  border: 5px double black;
  height: 30px;
}

#submit:hover {
  cursor: pointer;
  background-color: aquamarine;
  border-color: blue;
  font-size: 15px;
}

#rightAd {
  position: fixed;
  top: 15%;
  right: 0;
  height: 100%;
  width: 20%;
  background-color: yellow;
  z-index: 0;
}

#bottomAd {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: green;
  z-index: 1;
}

#main {
  position: fixed;
  top: 15%;
  left: 20%;
  height: 70%;
  width: 60%;
  background-color: black;
  z-index: -1;
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 10px;
}

#main p {
  color: black;
}

.characterPreview {
  background-color: white;
  height: 270px;
  width: 150px;
  padding: 10px;
  border: 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  font-family: Arial;
  font-size: 13px;
}

.charStatName {
  width: 40%;
}

.charInfo {
  text-align: right;
  width: 60%;
}

.characterPreview img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.characterPreview img:hover {
  scale: 1.05;
  cursor: pointer;
}
