* {
  box-sizing: content-box;
}

#headBanner {
  position: fixed;
  top: 0;
  left: 300px;
  right: 0;
  width: calc(100% - 300px);
  padding: 0;
  height: 150px;
  background-color: white;
  z-index: 1;
}

#headBanner img {
  height: 150px;
  margin-left: 50%;
  transform: translate(-50%);
}

#theTitle,
#adOff,
#closeDetail {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Arial;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  text-decoration: none;
}

#theTitle {
  background-color: white;
  width: 250px;
  border: 3px black solid;
  color: #5e5df0;
  margin-left: 18px;
}

#theTitle:hover {
  background-color: cyan;
  color: black;
}

#admin {
  position: fixed;
  top: 0;
  left: 10px;
  height: 100%;
  width: 290px;
  background-color: #5e5df0;
  z-index: 2;
  align-content: center;
  padding: 0;
}

#admin p {
  font-family: "Arial";
  font-size: 18px;
  color: white;
  text-align: center;
  width: 250px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 0;
}

#inpName,
#inpAge,
#inpGender,
#inpJob,
#inpImg,
#passBox {
  height: 20px;
  width: 230px;
  margin-bottom: 5px;
  margin-left: 20px;
  border-radius: 10px;
  border: 5px double black;
  padding-left: 5px;
}

.inpDescClass {
  height: 40px;
  width: 230px;
  margin-bottom: 5px;
  margin-left: 20px;
  border-radius: 10px;
  border: 5px double black;
  padding-left: 5px;
  resize: none;
  font-family: Arial;
}

#submit,
#home {
  margin-left: 20px;
  margin-bottom: 5px;
  width: 230px;
  border-radius: 10px;
  border: 5px double black;
  height: 20px;
}

#submit:hover,
#home:hover {
  cursor: pointer;
  background-color: aquamarine;
  border-color: blue;
  font-size: 15px;
}

#main {
  position: fixed;
  top: 150px;
  left: 310px;
  height: calc(100% - 180px);
  width: calc(100% - 340px);
  background-color: black;
  z-index: -1;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 10px solid black;
}

::-webkit-scrollbar {
  width: 0;
}

#main p {
  color: black;
}

.characterPreview {
  background-color: white;
  height: 310px;
  width: 165px;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  font-family: Arial;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.charStatName {
  width: 25%;
}

.charInfo {
  text-align: right;
  width: 75%;
}

.charInfo p,
.charStatName p {
  height: 20px;
  overflow: hidden;
}

.characterPreview img {
  width: 165px;
  height: 165px;
  border-radius: 5px;
}

.characterPreview:hover {
  background-color: rgb(169, 255, 255);
  cursor: pointer;
}

#detailedDesc {
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  z-index: 5;
  background-color: #ffffff;
  border: solid #5e5df0 20px;
  display: none;
}

#adSample {
  width: 1000px;
  border-radius: 15px;
}

#adOff {
  position: fixed;
  top: 10px;
  left: 930px;
  height: 60px;
  font-size: 20px;
  width: 60px;
  background-color: transparent;
  border: none;
  text-align: center;
  z-index: 20;
  box-shadow: none;
}

#popUp {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translate(-50%);
  height: 500px;
  z-index: 99;
  display: none;
  cursor: pointer;
}

#adOff:hover {
  filter: brightness(2);
}

#charLeftOver {
  height: calc(100% - 20px);
  width: calc(30% - 20px);
  padding: 30px;
  font-family: Arial;
  border-right: #5e5df0 20px solid;
}

#charRightOver {
  width: calc(70% - 20px);
  height: calc(100% - 90px);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  padding-right: 50px;
  font-family: Arial;
  overflow-y: scroll;
}

#charRightOver p {
  font-size: 20px;
}

#charLeftOver img {
  margin: 30px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

table {
  margin-left: 50%;
  transform: translate(-50%, 0);
  font-family: Arial;
  border-collapse: collapse;
  width: 300px;
}

td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

th {
  width: 80px;
  background-color: #5e5df0;
  color: white;
}

#closeDetail {
  border: 2px solid black;
  margin-top: 20px;
  margin-left: 50%;
  width: 220px;
  transform: translate(-50%, 0);
}

#closeDetail:hover {
  background-color: cyan;
  color: black;
}
